.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 20px 170px;
    width: -webkit-fill-available;
}

.logo {
    width: 200px;
}

.nav-menu {
    gap: 40px;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-family: 'Outfit', serif;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, var(--bg-primary) 0.36%, var(--bg-secondary) 106.2%);
    font-size: 22px;
    cursor: pointer;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-connect li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 10px;
    cursor: pointer;
}

.nav-connect img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

.nav-menu-background {
    display: none;
}

.nav-menu-pointer {
    width: auto;
    height: 12px;
    align-self: center;
}

@media (max-width: 1024px) {
    .navbar {
        padding: 20px 50px;
        z-index: 999;
    }

    .logo {
        width: 150px;
        z-index: 3;
    }

    .nav-menu {
        gap: 30px;
        display: flex;
        font-size: 15px;
        font-family: 'Outfit', serif;
    }

    .nav-connect {
        font-size: 15px;
        padding: 12px 30px;
        border-radius: 50px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 30px;
        z-index: 999;
    }

    .nav-connect {
        display: none;
    }

    .logo {
        width: 150px;
        z-index: 3;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
        z-index: 3;
        width: 25px;
        cursor: pointer;
    }

    .nav-mob-close {
        position: fixed;
        right: 30px;
        width: 25px;
        z-index: 3;
        cursor: pointer;
    }

    .nav-menu {
        gap: 0;
        padding-top: 80px;
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        background-color: #00141f;
        width: 70%;
        max-width: 220px;
        height: 100%;
        z-index: 2;
        transition: right 1s;
        left: 0;
        display: none;
    }

    .nav-menu li {
        font-size: 22px;
        width: 100%;
    }

    .nav-menu li a {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        padding: 15px 20px;
    }

    .nav-menu-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* filter: blur(8px); */
        /* -webkit-filter: blur(8px); */
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: right 1s;
        z-index: 2;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px 20px;
        z-index: 999;
        width: 100%;
    }

    .nav-connect {
        display: none;
    }

    .logo {
        width: 150px;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
        width: 20px;
        cursor: pointer;
    }

    .nav-mob-close {
        position: fixed;
        right: 30px;
        width: 20px;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        background-color: #00141f;
        width: 60%;
        max-width: 220px;
        height: 100%;
        z-index: 2;
        transition: right 0.6s;
        left: 0;
        display: none;
    }

    .nav-menu li a {
        padding: 15px 20px;
    }

    .nav-menu li {
        display: flex;
        font-size: 20px;
        flex-direction: row;
        gap: 15px;
    }

    .nav-menu-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* filter: blur(8px); */
        /* -webkit-filter: blur(8px); */
        background-color: rgba(0, 0, 0, 0.4);
        /* background-color: red; */
        cursor: pointer;
        transition: right 1s;
        z-index: 2;
    }
}