#root {
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

:root {
  --primary: #1cdaff;
  --secondary: #087edf;

  --bg-primary: #1cdaff;
  --bg-secondary: #087edf;

  --bg-primary-400: #1cd9ff42;
  --bg-secondary-400: #087edf41;
}